@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  background-color: #bdc3c7;
  color: white;
  font-family: 'MuseoModerno';
}
